//new styles

.standard-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #787c88;
}

@media (max-width: 1400px) {
  .standard-text {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .standard-text {
    font-size: 15px;
  }
}
.main-banner__img {
  width: 100%;
  position: absolute;
  max-width: 690px;
  right: -186px;
  top: -80px;
}
@media (min-width: 1200px) {
  .main-banner__img {
    // width: 54%;
    // position: relative;
    // top: -64px;
    // right: 7px;
    // height: fit-content;
  }
}
@media (min-width: 600px) {
  .main-banner__img {
    // width: 54%;
    // position: relative;
    // top: -20px;
    // right: -20px;
    // height: fit-content;
  }
}

.benefits__pic {
  position: absolute;
  width: 640px;
  left: -109px;
  bottom: -267px;
}

@media (max-width: 1400px) {
  .benefits__pic {
    bottom: -210px;
    width: 480px;
    left: -20px;
  }
}

@media (max-width: 768px) {
  .benefits__pic {
    bottom: -175px;
    width: 376px;
    left: 26px;
  }
}

.important__block {
  background: var(--accentColor);
  color: #fff;
  padding: 90px 104px;
  border-radius: 50px;
}
@media (max-width: 1400px) {
  .important__block {
    padding: 85px 58px;
  }
}

@media (max-width: 1200px) {
  .important__block {
    padding: 20px 18px;
    border-radius: 20px;
  }
}

.btn-red {
  background: #fff;
  color: var(--accentColor);
  transition: 0.3s;
}

.btn-red:hover {
  background: var(--accentColor);
  color: #fff;
  transition: 0.3s;
}

.important__item {
  display: flex;

  &:nth-child(2) {
    &::before {
      background-image: url("./images/icons/important/2.svg");
    }
  }
  &:nth-child(3) {
    &::before {
      background-image: url("./images/icons/important/3.svg");
    }
  }
}

.important__item:before {
  content: "";
  width: 20px;
  height: 25px;
  display: block;
  flex-shrink: 0;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("./images/icons/important/1.svg");
}

@media (max-width: 1200px) {
  .important__item:before {
    width: 16px;
    height: 19px;
  }
}

.important__pic {
  max-width: 340px;
  position: absolute;
  right: -135px;
  bottom: -55px;
}

@media (max-width: 1200px) {
  .important__pic {
    max-width: 155px;
    right: -44px;
    bottom: -33px;
  }
}

.how__important {
  position: relative;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .how__important {
    margin-top: 6px;
  }
}

.rules__header {
  margin-bottom: 23px;
}

.hero__text {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .hero__text {
    margin-bottom: 5px;
  }
}

.ui-checkbox__text {
  font-weight: 400;
  font-size: 14px;
  color: #5e6367;
}
@media (max-width: 1400px) {
  .ui-checkbox__text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .ui-checkbox__text {
    font-size: 12px;
  }
}

.important__header {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .important__header {
    font-size: 32px;
    margin-bottom: 3px;
  }
}

.important__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 1200px) {
  .important__list {
    gap: 5px;
  }
}

.PhoneInputInput {
  height: 100%;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 1400px) {
  .PhoneInputInput {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .PhoneInputInput {
    font-size: 14px;
  }
}

.PhoneInputCountry {
  display: none !important;
}

.main-banner-container {
  display: flex;
}

@media (max-width: 600px) {
  .main-banner-container {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .main-banner__img {
    margin-bottom: 20px;
  }
}
.agree {
  margin-top: 5px;
  font-size: 20px;
  line-height: 1.25;
}
@media (max-width: 1920px) {
  .agree {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .agree {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .agree {
    font-size: 15px;
  }
}

.btn-disabled {
  pointer-events: none;
}
.pointer-events-none {
  pointer-events: none;
}
.submitting {
  background-color: #dce0eb;
  pointer-events: none;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    background: url("./images/spinner.svg") center center no-repeat;
  }
}

.ui-list__item {
  align-items: baseline;
}

::placeholder {
  color: #b8bdc1;
  font-weight: 400;
  transition: 0.4s;
}
.registration__pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration__pic {
  img {
    max-width: 400px;
    width: 100%;
    // height: 100%;
    // width: auto;
  }
}

@media (max-width: 600px) {
  .registration__pic {
    img {
      max-width: 380px;
      height: 100%;
      width: 100%;
    }
  }
}

.registration__form {
  background: var(--formFieldBg);
  border-radius: 32px;
  padding: 40px 60px;
  max-width: 66%;
  display: flex;
  flex-direction: column;
  // max-height: 342px;
  width: 50%;
}
@media (max-width: 1919px) {
  .registration__form {
    max-width: 62%;
    padding: 30px 60px;
  }
}
@media (max-width: 1200px) {
  .registration__form {
    max-width: 59%;
    padding: 20px 30px;
  }
}
@media (max-width: 1050px) {
  .registration__form {
    max-width: 52%;
    padding: 23px 25px;
  }
}
@media (max-width: 900px) {
  .registration__form {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .registration__form {
    border-radius: 24px;
    padding: 15px 22px 22px;
  }
}

.main-banner__button {
  display: none;
}

@media (min-width: 600px) {
  .main-banner__button {
    display: block;
    margin-bottom: 30px;
  }
}

.main-banner__button--mobile {
  align-self: center;
}

@media (min-width: 600px) {
  .main-banner__button--mobile {
    display: none;
  }
}
.input__label {
  margin-left: 15px;
}
@media (max-width: 600px) {
  .input__label {
    margin-left: 20px;
  }
}

.ui-input:hover {
  .input__label {
    color: #000000;
    transition: 0.4s;
  }
  ::placeholder {
    color: #000000;
    transition: 0.4s;
  }
}

.ui-input {
  transition: 0.4s;
}
.ui-input__input:hover {
  border-color: #1e222e;
  transition: 0.4s;
}

.ui-input__input:focus {
  color: #1e222e;
  border-color: #ef7c00;
}
.present__section {
  padding-bottom: 100px;
}
.present {
  display: flex;
  gap: 15px;
}
.present__left,
.present__right {
  width: 50%;
}

.present__left {
  background-color: var(--formFieldBg);
  border-radius: 32px;
  padding: 60px;
}

.present__right {
  background-image: linear-gradient(180deg, #f4f6fa 62%, #dce0eb 38%);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 450px;
    width: 100%;
  }
}

.registration__important {
  padding: 55px 62px;
  border-radius: 32px;
  background-color: var(--formFieldBg);
  width: 50%;
  .ui-list__item:before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1188_14234)'%3E%3Cpath d='M5.65833 10.8167L2.18333 7.34167L1 8.51667L5.65833 13.175L15.6583 3.175L14.4833 2L5.65833 10.8167Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1188_14234'%3E%3Crect width='16' height='16' fill='white' transform='matrix(-4.37114e-08 -1 -1 4.37114e-08 16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
  }
}

.main-banner-container {
  position: relative;
  width: 100%;
}

.present__left {
  .standard-text {
    margin-bottom: 0;
  }
}

.heading {
  color: var(--headingColor);
}

.important-sign::before {
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='8' viewBox='0 0 2 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0C1.55228 0 2 0.447715 2 1V4C2 4.55228 1.55228 5 1 5C0.447715 5 0 4.55228 0 4V1C0 0.447715 0.447715 0 1 0Z' fill='white'/%3E%3Ccircle cx='1' cy='7' r='1' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
